---
import data from '../data/script.json';
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import Image from '../components/Image.svelte';
---

<Layout>
  <main class="max-w-4xl lg:max-w-2/3 mx-auto">
    <h1 class="text-3xl font-bold mb-6 text-center">Ghor Script Attestations</h1>
    <div>
      <div class="grid grid-cols-5 sm:grid-cols-5 gap-2 max-w-md mx-auto my-8">
        {['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'].map(letter => (
          <div class="border border-gray-300 px-4 py-2 text-xl font-semibold text-center bg-white rounded">
            {letter} <span class="ghor">{letter}</span>
          </div>
        ))}
      </div>
    </div>
    <div class="space-y-10">
      {
        data.map((item) => (
          <article class="bg-white rounded-xl shadow p-6" id={item.code}>
            <header class="mb-4">
              <div class="flex justify-between text-sm text-gray-500">
                <span>{item.code ? item.code : '??'}</span>
                <span>{item.timestamp ? item.timestamp : '??'}</span>
              </div>
              <p class="ghor text-6xl font-medium text-blue-800 mt-2 whitespace-pre-line">{item.text}</p>
              <p class="text-base text-gray-700 italic whitespace-pre-line">{item.text}</p>
            </header>
            {item.item ? <Image src={`/images/${item.item}`} alt="A bird." client:only="svelte"/>: ''}
          </article>
        ))
      }
    </div>
  </main>
</Layout>